
h1 {
    font-size: 55px !important;
    font-weight: 500 !important;
}
h2{
    font-size: 45px !important;
}
h3 {
    font-size: 40px !important;
}
h4 {
    font-size: 35px !important;
}
h2, h3 {
    font-weight: 400 !important;
}
h1, h2, h3, h4, h5{
    font-family: "Playfair Display", serif;
}
*{
    font-family: "Anek Gujarati", sans-serif;
    font-weight: 400;
}
.section-res-padding{
    padding: 6rem 0;
}
.color-theme {
    color: #525252;
}
.color-theme-2{
    color: #9d9834;
}
.bg-theme {
    background-color: #525252;
}
.banner{
    background-image: url(./images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
}
section.banner::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #00000054;
}
.banner-inner{
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    height: 60px;
}
.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-input{
    padding: 3px 10px;
    width: 100%;
    font-weight: 500;
    border-radius: 2px;
    font-weight: 500;
}
.si-wrapper{
    max-width: 350px;
    width: 70%;
}

.marketing-wrapper {
    column-gap: 20px;
    display: flex;
}
.mw-item {
    width: 50%;
}
.mw-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 25px;
    max-width: 800px;
}
.mw-content-items{
    width: calc(50% - 13px);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px;
    margin: auto;
    justify-content: space-around;
}
.mw-image{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.mw-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mw-content-items i {
    font-size: 35px;
    color: #525252;
    background-color: #52525226;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
}
.mw-content-items:hover i {
    color: #9d9834;
    background-color: #9d98344d;
}
.right-spacer {
    margin-right: 50px;
}
@media only screen and (max-width: 992px) {
    h1 {
        font-size: 40px !important;
    }
    h2{
        font-size: 35px !important;
    }
    h3 {
        font-size: 30px !important;
    }
    h4 {
        font-size: 28px !important;
    }
    .marketing-wrapper {
        flex-direction: column;
        row-gap: 50px;
    }
    .right-spacer {
        margin-right: unset;
    }
    .mw-item {
        width: 100%;
    }
    .mw-image{
        position: static;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 35px !important;
    }
    h2{
        font-size: 30px !important;
    }
    h3 {
        font-size: 28px !important;
    }
    h4 {
        font-size: 26px !important;
    }
    .md-none{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px !important;
    }
    h2{
        font-size: 28px !important;
    }
    h3 {
        font-size: 26px !important;
    }
    h4 {
        font-size: 25px !important;
    }
    .mw-content-items{
        width: calc(100%);
    }
}